body {
  padding: 0;
  margin: 0;
  background-color: #252e3f;
  /* 162630 */
  /* 1e2130 */
}
.container {
  padding: 10px;
  margin: 0 auto;
  width: 95%;
  background-color: #161a28;
}
.title {
  padding: 0;
  text-align: center;
  color: white;
  font-size: 37px;
}
.title-line {
  border: solid white 2px;
  width: 100%;
  text-align: center;
  /* height: 10px; */
}
.outer-div-2,
.outer-div-1 {
  margin-top: 20px;
  color: white;
  font-size: 23px;
  text-align: center;
}
#input-year,
#input-type {
  height: 30px;
  /* width: 280px; */
  font-size: 20px;
  color: black;
  width: 80%;
  padding: 3px;
  margin: auto;
  font-size: 20px;
  text-align-last: center;
}
#plot2,
#plot3,
#plot4,
#plot5 {
  width: 50%;
}
.graph-div {
  margin-top: 10px;
}
